<style>
  .tar{
    text-align: right;
  }
  .tac{
    text-align: center;
  }
</style>
<button type="button" (click)="SetFrmInsert()"   [style.display]="bLista && !bConfirmaDelete ? 'block' : 'none'">Novo</button>
<button type="button" (click)="bLista=true; bListaAuto=false; bForm=false"   [style.display]="!bLista && !bConfirmaDelete ? 'block' : 'none'">Voltar</button>

<div class="fade-in" [style.display]="bForm && !bConfirmaDelete ? 'block' : 'none'">
  <c-card class="mb-4">
    <c-card-header>
      FORM 
    </c-card-header>
    <c-card-body>
      <div class="row">
        <div class="col-sm-1 tar">Tipo: </div>
        <div class="col-sm-1">
          <input type="radio" name="CPF" id="CPF" [(ngModel)]="tipo" (change)="SetBtnSave()" value="CPF"> <Label for="CPF">CPF</Label>
        </div>
        <div class="col-sm-1">
          <input type="radio" name="CNPJ" id="CNPJ" [(ngModel)]="tipo" (change)="SetBtnSave()" value="CNPJ"> <Label for="CNPJ">CNPJ</Label> 
        </div>
      </div>
      <div class="row">  
        <div class="col-sm-1 tar">
          <label cLabel for="txtNome">{{tipo}}: </label>
        </div>
        <div class="col-sm-3">
          <input type='text' [style.display]="tipo == 'CPF' ? 'block' : 'none'" mask='000.000.000-00' (change)="SetBtnSave()" [(ngModel)]="frm.documento" >
          <input type='text' [style.display]="tipo == 'CNPJ' ? 'block' : 'none'" mask='00.000.000/0000-00' (change)="SetBtnSave()" (change)="SetCnpj()" [(ngModel)]="cnpj" >
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1 tar">
          <label cLabel for="txtNome">Nome: </label>
        </div>
        <div class="col-sm-3">
          <input type='text' [(ngModel)]="frm.nome" (change)="SetBtnSave()" >
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1 tar">
          <label cLabel for="txtCep">Cep: </label>
        </div>
        <div class="col-sm-3">
          <input type='text' id="txtCep" (change)="Viacep(); SetBtnSave()" [(ngModel)]="frm.cep" >
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1 tar">
          <label cLabel for="txtEndereco">Endereço: </label>
        </div>
        <div class="col-sm-3">
          <input type='text' id="txtEndereco" disabled="disabled" [(ngModel)]="frm.endereco" >
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1 tar">
          <label cLabel for="txtNumero">Número: </label>
        </div>
        <div class="col-sm-3">
          <input type='text' id="txtNumero" (change)="SetBtnSave()" [(ngModel)]="frm.numero" >
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1 tar">
          <label cLabel for="txtComplemento">Complemento: </label>
        </div>
        <div class="col-sm-3">
          <input type='text' id="txtComplemento" (change)="SetBtnSave()" [(ngModel)]="frm.complemento" >
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1 tar">
          <label cLabel for="txtBairro">Bairro: </label>
        </div>
        <div class="col-sm-3">
          <input type='text' id="txtBairro" disabled="disabled" [(ngModel)]="frm.bairro" >
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1 tar">
          <label cLabel for="txtMunicipio">Município: </label>
        </div>
        <div class="col-sm-3">
          <input type='text' id="txtMunicipio" disabled="disabled" [(ngModel)]="frm.municipio" >
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1 tar">
          <label cLabel for="selEstado">Estado: </label>  
        </div>
        <div class="col-sm-3">
          <select id="selEstado" [(ngModel)]="frm.uf" disabled="disabled">
            <option *ngFor="let opt of selEstados" value="{{opt.sigla}}">{{opt.sigla}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1 tar">
          <label cLabel for="txtMail">E-Mail: </label>
        </div>
        <div class="col-sm-3">
          <input type='text' id="txtMail" (change)="SetBtnSave()" [(ngModel)]="frm.email" >
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1 tar">
          <label cLabel for="txtTelefone">Telefone: </label>
        </div>
        <div class="col-sm-3">
          <input type='text' id="txtTelefone" (change)="SetBtnSave()" [(ngModel)]="frm.telefone" mask="(00)0000-00009" >
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1 tar">
          &nbsp; 
        </div>
        <div class="col-sm-3">
          <button type="button" [style.display]="!bFrmDisabled ? 'block' : 'none'" class="btn btn-primary mb-3" (click)="Salvar()">Salvar</button>
          <button type="button" [style.display]="bFrmDisabled ? 'block' : 'none'" ng-disabled="bFrmDisabled" class="btn btn-primary mb-3" disabled>Salvar</button>
        </div>
      </div>
    </c-card-body>
  </c-card>
</div>

<div class="fade-in" [style.display]="bLista && !bConfirmaDelete ? 'block' : 'none'">
  <c-card class="mb-4">
    <c-card-header>
      Clientes 
      <div class="row" [style.display]="msgSaved != '' ? 'block' : 'none'">
        - {{msgSaved}}
      </div>
    </c-card-header>
    <c-card-body>
      Pesquisa:<br>
      <input class="form-control form-control-sm" [(ngModel)]="req.ValFilter" (change)="Search()" type="text" placeholder="Insira o termo de pesquisa" aria-label=".form-control-sm example"><br>
      <table>
        <tr>
          <th><span (click)="SetOrder('Documento')">Cpf/Cnpj</span></th>
          <th><span (click)="SetOrder('Nome')">Nome</span></th>
          <th><span (click)="SetOrder('Bairro')">Bairro</span></th>
          <th><span (click)="SetOrder('Municipio')">Município</span></th>
          <th><span (click)="SetOrder('Uf')">Estado</span></th>
          <th><span (click)="SetOrder('Email')">E-Mail</span></th>
          <th><span (click)="SetOrder('Telefone')">Telefone</span></th>
          <th><span (click)="SetOrder('Ativo')">Ativo</span></th>
          <th>Ação</th>
        </tr>
        <tr *ngFor ="let item of lista">
          <td>{{item.documento}}</td>
          <td>{{item.nome}}</td>
          <td>{{item.bairro}}</td>
          <td>{{item.municipio}}</td>
          <td>{{item.uf}}</td>
          <td>{{item.email}}</td>
          <td>{{item.telefone}}</td>
          <td>{{item.ativo}}</td>
          <td nowrap>
            <i class="cil-pencil" style="color: black !important;"></i>
            <svg cilPencil size="1x" style="color: black !important;"></svg>
            <button type="button" cButton color="primary" (click)="SetFrmUpdate(item)">Editar</button>
            <button type="button" cButton color="secondary" (click)="SetFrmDelete(item)">Apagar</button>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td nowrap>
            Registros: 
            <select [(ngModel)]="req.Rows" (change)="SetRows()">
              <option *ngFor="let opt of selrows" value="{{opt.val}}">{{opt.txt}}</option>
            </select>
          </td>
          <td style="width: 50px;">&nbsp;</td>
          <td nowrap>
            <button type="button" ng-disabled="disFirts" (click)="SetSt()">|<</button>
            <button type="button" ng-disabled="disFirts" (click)="Prev()"><</button>
          </td>
          <td>
            <select [(ngModel)]="req.Page" (change)="Lista()">
              <option *ngFor="let opt of selpages" value="{{opt}}">{{opt}} página</option>
            </select>
          </td>
          <td nowrap>
            <button type="button" ng-disabled="disLast" (click)="Next()">></button>
            <button type="button" ng-disabled="disLast" (click)="SetLst()">>|</button>
          </td>
          <td style="width: 50px;">&nbsp;</td>
          <td nowrap>
            <div [style.display]="ttRows2 > 0 ? 'block' : 'none'">Mostrando registros de {{lblRowStart}} até {{lblRowLast}} de {{ttRows2}}.</div>
            <div [style.display]="ttRows2 == 0 ? 'block' : 'none'">Nenhum registro.</div>
          </td>
        </tr>
      </table>
    </c-card-body>
  </c-card>
</div>

<div class="fade-in" [style.display]="bConfirmaDelete ? 'block' : 'none'">
  <c-card class="mb-4">
    <c-card-header>
      Confirmar 
      <div class="row" [style.display]="msgSaved != '' ? 'block' : 'none'">
        - {{msgSaved}}
      </div>
    </c-card-header>
    <c-card-body>
      <div class="row">
        <div class="col-md-12 tac">
          Tem certeza que deseja apagar os dados abaixo ?
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          &nbsp;
        </div>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-2 tar">
              Documento:
            </div>
            <div class="col-md-3">
              {{frmDel.documento}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 tar">
              Nome:
            </div>
            <div class="col-md-5">
              {{frmDel.nome}}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 tac">
          <button type="button" class="btn btn-primary mb-3" style="background-color: white !important; color:black !important;" (click)="Cancelar()">Cancelar</button>
          <button type="button" class="btn btn-primary mb-3" (click)="Apagar()">Apagar</button>
        </div>
      </div>
    </c-card-body>
  </c-card>
</div>

