<c-toaster [placement]="position" class="p-3" position="fixed">
  <c-toast
    color="{{colorToast}}"
    (timer)="onTimerChange($event)"
    (visibleChange)="onVisibleChange($event)"
    [visible]="bToast">
    <c-toast-header>
      {{headerToast}}
    </c-toast-header>
    <c-toast-body>
      <p>{{bodyToast}}</p>
      <c-progress thin>
        <c-progress-bar [value]="percentage"></c-progress-bar>
      </c-progress>
    </c-toast-body>
  </c-toast>
</c-toaster>

<div class="row">
  <div class="col-md-11">
    <c-breadcrumb *ngIf="bLista && !bConfirmaDelete">
      <c-breadcrumb-item [active]="true">Cliente</c-breadcrumb-item>
    </c-breadcrumb>

    <c-breadcrumb *ngIf="bForm && !bConfirmaDelete">
      <c-breadcrumb-item [active]="true">Cliente</c-breadcrumb-item>
      <c-breadcrumb-item [active]="true" *ngIf="!bUpdate">Inclusão</c-breadcrumb-item>
      <c-breadcrumb-item [active]="true" *ngIf="bUpdate">Alteração</c-breadcrumb-item>
    </c-breadcrumb>

    <c-breadcrumb *ngIf="bConfirmaDelete">
      <c-breadcrumb-item [active]="true">Cliente</c-breadcrumb-item>
      <c-breadcrumb-item [active]="true">Apagar</c-breadcrumb-item>
    </c-breadcrumb>
  </div>
  <div class="col-md-1">
    <button type="button" cButton color="primary" size="sm" (click)="SetFrmInsert()" *ngIf="bLista && !bConfirmaDelete">Novo</button>
    <button type="button" cButton color="primary" size="sm" (click)="bLista=true; bListaAuto=false; bForm=false" *ngIf="!bLista && !bConfirmaDelete">Voltar</button>
  </div>
</div>

<div class="fade-in" [style.display]="bForm && !bConfirmaDelete ? 'block' : 'none'">
  <c-card class="mb-4">
    <c-card-header>
      <span *ngIf="!bUpdate">INCLUSÃO</span>
      <span *ngIf="bUpdate">ALTERAÇÃO</span>
    </c-card-header>
    <c-card-body>
      <div class="row">
        <div class="col-sm-1 tar">Tipo: </div>
        <div class="col-sm-1">
          <input type="radio" name="CPF" id="CPF" [(ngModel)]="tipo" (change)="SetBtnSave()" value="CPF"> <Label for="CPF">CPF</Label>
        </div>
        <div class="col-sm-1">
          <input type="radio" name="CNPJ" id="CNPJ" [(ngModel)]="tipo" (change)="SetBtnSave()" value="CNPJ"> <Label for="CNPJ">CNPJ</Label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1 tar">
          <label cLabel for="txtNome">{{tipo}}: </label>
        </div>
        <div class="col-sm-3">
          <input type='text' *ngIf="tipo == 'CPF'" mask='000.000.000-00' (change)="SetBtnSave()" [(ngModel)]="frm.documento" >
          <input type='text' *ngIf="tipo == 'CNPJ'" mask='00.000.000/0000-00' (change)="SetBtnSave()" (change)="SetCnpj()" [(ngModel)]="cnpj" >
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1 tar">
          <label cLabel for="txtNome">Nome: </label>
        </div>
        <div class="col-sm-3">
          <input type='text' [(ngModel)]="frm.nome" (change)="SetBtnSave()" >
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1 tar">
          <label cLabel for="txtNome">Nascimento: </label>
        </div>
        <div class="col-sm-3">
          <input type="text" id="txtNascimento" [(ngModel)]="nascimento" (change)="ValidateDate()" mask='00/00/0000'>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1 tar">
          <label cLabel for="txtCep">Cep: </label>
        </div>
        <div class="col-sm-3">
          <input type='text' id="txtCep" (change)="Viacep(); SetBtnSave()" [(ngModel)]="frm.cep" >
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1 tar">
          <label cLabel for="txtEndereco">Endereço: </label>
        </div>
        <div class="col-sm-3">
          <input type='text' id="txtEndereco" disabled="disabled" [(ngModel)]="frm.endereco" >
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1 tar">
          <label cLabel for="txtNumero">Número: </label>
        </div>
        <div class="col-sm-3">
          <input type='text' id="txtNumero" (change)="SetBtnSave()" [(ngModel)]="frm.numero" >
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1 tar">
          <label cLabel for="txtComplemento">Complemento: </label>
        </div>
        <div class="col-sm-3">
          <input type='text' id="txtComplemento" (change)="SetBtnSave()" [(ngModel)]="frm.complemento" >
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1 tar">
          <label cLabel for="txtBairro">Bairro: </label>
        </div>
        <div class="col-sm-3">
          <input type='text' id="txtBairro" disabled="disabled" [(ngModel)]="frm.bairro" >
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1 tar">
          <label cLabel for="txtMunicipio">Município: </label>
        </div>
        <div class="col-sm-3">
          <input type='text' id="txtMunicipio" disabled="disabled" [(ngModel)]="frm.municipio" >
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1 tar">
          <label cLabel for="selEstado">Estado: </label>
        </div>
        <div class="col-sm-3">
          <select id="selEstado" [(ngModel)]="frm.uf" disabled="disabled">
            <option *ngFor="let opt of selEstados" value="{{opt.sigla}}">{{opt.sigla}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1 tar">
          <label cLabel for="txtMail">E-Mail: </label>
        </div>
        <div class="col-sm-3">
          <input type='text' id="txtMail" (change)="SetBtnSave()" [(ngModel)]="frm.email" >
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1 tar">
          <label cLabel for="txtTelefone">Telefone: </label>
        </div>
        <div class="col-sm-3">
          <input type='text' id="txtTelefone" (change)="SetBtnSave()" [(ngModel)]="frm.telefone" mask="(00)0000-00009" >
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1 tar">
          &nbsp;
        </div>
        <div class="col-sm-3">
          <button type="button" cButton color="primary" size="sm" *ngIf="!bFrmDisabled" (click)="Salvar()">Salvar</button>
          <button type="button" cButton color="primary" size="sm" *ngIf="bFrmDisabled" ng-disabled="bFrmDisabled" disabled>Salvar</button>
        </div>
      </div>
    </c-card-body>
  </c-card>
</div>

<div class="fade-in" *ngIf="bLista && !bConfirmaDelete">
  <c-card class="mb-4">
    <c-card-header>
      LISTAGEM DE CLIENTES
    </c-card-header>
    <c-card-body>
      <input class="form-control form-control-sm" [(ngModel)]="req.ValFilter" (change)="Search()" type="text" placeholder="Insira o termo de pesquisa" aria-label=".form-control-sm example"><br>
      <table>
        <tr>
          <th class="cp">
            <span *ngIf="orderColAnt == 'Documento' && req.ColDirectrion == 'ASC'">˅</span>
            <span *ngIf="orderColAnt == 'Documento' && req.ColDirectrion != 'ASC'">˄</span>
            <span  (click)="SetOrder('Documento')">Cpf/Cnpj</span>
          </th>
          <th class="cp">
            <span *ngIf="orderColAnt == 'Nome' && req.ColDirectrion == 'ASC'">˅</span>
            <span *ngIf="orderColAnt == 'Nome' && req.ColDirectrion != 'ASC'">˄</span>
            <span (click)="SetOrder('Nome')">Nome</span>
          </th>
          <th class="cp">
            <span *ngIf="orderColAnt == 'Bairro' && req.ColDirectrion == 'ASC'">˅</span>
            <span *ngIf="orderColAnt == 'Bairro' && req.ColDirectrion != 'ASC'">˄</span>
            <span (click)="SetOrder('Bairro')">Bairro</span>
          </th>
          <th class="cp">
            <span *ngIf="orderColAnt == 'Municipio' && req.ColDirectrion == 'ASC'">˅</span>
            <span *ngIf="orderColAnt == 'Municipio' && req.ColDirectrion != 'ASC'">˄</span>
            <span (click)="SetOrder('Municipio')">Município</span>
          </th>
          <th class="cp">
            <span *ngIf="orderColAnt == 'Uf' && req.ColDirectrion == 'ASC'">˅</span>
            <span *ngIf="orderColAnt == 'Uf' && req.ColDirectrion != 'ASC'">˄</span>
            <span (click)="SetOrder('Uf')">Estado</span>
          </th>
          <th class="cp">
            <span *ngIf="orderColAnt == 'Email' && req.ColDirectrion == 'ASC'">˅</span>
            <span *ngIf="orderColAnt == 'Email' && req.ColDirectrion != 'ASC'">˄</span>
            <span (click)="SetOrder('Email')">E-Mail</span>
          </th>
          <th class="cp">
            <span *ngIf="orderColAnt == 'Telefone' && req.ColDirectrion == 'ASC'">˅</span>
            <span *ngIf="orderColAnt == 'Telefone' && req.ColDirectrion != 'ASC'">˄</span>
            <span (click)="SetOrder('Telefone')">Telefone</span>
          </th>
          <th class="cp">
            <span *ngIf="orderColAnt == 'Ativo' && req.ColDirectrion == 'ASC'">˅</span>
            <span *ngIf="orderColAnt == 'Ativo' && req.ColDirectrion != 'ASC'">˄</span>
            <span (click)="SetOrder('Ativo')">Ativo</span>
          </th>
          <th>Ação</th>
        </tr>
        <tr *ngFor ="let item of lista">
          <td>{{item.documento}}</td>
          <td>{{item.nome}}</td>
          <td>{{item.bairro}}</td>
          <td>{{item.municipio}}</td>
          <td>{{item.uf}}</td>
          <td>{{item.email}}</td>
          <td>{{item.telefone}}</td>
          <td>{{item.ativo ? 'Sim' : 'Não' }}</td>
          <td nowrap>
            <button type="button" cButton size="sm" color="primary" (click)="SetFrmUpdate(item)">Editar</button>
            <button type="button" cButton size="sm" color="danger" (click)="SetFrmDelete(item)">Apagar</button>
          </td>
        </tr>
      </table>
      <div class="paginador">
        <div class="registro">Registros: </div>
        <div class="rows">
          <select class="form-control form-control-sm w100px" [(ngModel)]="req.Rows" (change)="SetRows()">
            <option *ngFor="let opt of selrows" value="{{opt.val}}">{{opt.txt}}</option>
          </select>
        </div>
        <div class="btsPaginador">
          <button type="button" color="light" cButton size="sm" ng-disabled="disFirts" (click)="SetSt()">|<</button>
          <button type="button" color="light" cButton size="sm" ng-disabled="disFirts" (click)="Prev()"><</button>
        </div>
        <div class="paginas">
          <select class="form-control form-control-sm w100px" [(ngModel)]="req.Page" (change)="Lista()">
            <option *ngFor="let opt of selpages" value="{{opt}}">{{opt}} página</option>
          </select>
        </div>
        <div class="btsPaginador">
          <button type="button" color="light" cButton size="sm" ng-disabled="disLast" (click)="Next()">></button>
          <button type="button" color="light" cButton size="sm" ng-disabled="disLast" (click)="SetLst()">>|</button>
        </div>
        <div class="lblPaginador">
          <div *ngIf="ttRows2 > 0">Mostrando registros de {{lblRowStart}} até {{lblRowLast}} de {{ttRows2}}.</div>
          <div *ngIf="ttRows2 == 0">Nenhum registro.</div>
        </div>
      </div>
    </c-card-body>
  </c-card>
</div>

<div class="fade-in" *ngIf="bConfirmaDelete">
  <c-card class="mb-4">
    <c-card-header>
      APAGAR
      <div class="row" *ngIf="msgSaved">
        - {{msgSaved}}
      </div>
    </c-card-header>
    <c-card-body>
      <div class="row">
        <div class="col-md-12 tac">
          Tem certeza que deseja apagar os dados abaixo ?
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          &nbsp;
        </div>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-2 tar">
              Documento:
            </div>
            <div class="col-md-3">
              {{frmDel.documento}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 tar">
              Nome:
            </div>
            <div class="col-md-5">
              {{frmDel.nome}}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 tac">
          <button type="button" cButton color="primary" size="sm" (click)="Cancelar()">Cancelar</button>
          <button type="button" cButton color="danger" size="sm" (click)="Apagar()">Apagar</button>
        </div>
      </div>
    </c-card-body>
  </c-card>
</div>

