table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table tr:nth-child(even) {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table th {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table tr:nth-child(even) {
    border-bottom: 3px solid #ffffff;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

.paginador{
  width: 100% !important;
  margin-top: 15px;;
}

.registro{
  width: 80px !important;
  float:left !important;
  margin-top: 4px;
}

.rows{
  width: 114px !important;
  float:left !important;
}

.btsPaginador{
  width: 73px !important;
  float:left !important;
}

.lblPaginador{
  width: 350px !important;
  float:left !important;
  margin-top: 4px;
}

.paginas{
  width: 114px !important;
  float:left !important;
}

.w98p{
  width: 98% !important;
}

.fl{
  float:left !important;
}

.w100px{
  width: 100px !important;
}

.tac{
  text-align: center !important;
}

.mgb{
  margin-bottom: 15px;
}

.cp{
  cursor: pointer !important;
}
